
    .button-create {
        padding: 10px 30px;
        border-radius: 15px;
        background-color: #a401f0;
        color: white;
        font-size: 16px;
        /* margin-top: 20px; */
        cursor: pointer;
        margin-top: 50px;
        width: 140px;
      }
      .button-create:hover {
        padding: 10px 30px;
        border-radius: 15px;
        background-color: #7f00f7;
        color: white;
        font-size: 16px;
        /* margin-top: 20px; */
        cursor: pointer;
        margin-top: 50px;
      }
      .modalParent {
        position: fixed;
        align-items: center;
        height: 40%; /* adjust the height */
        top: 25%; /* center the element vertically */
        right: 0;
        bottom: 0;
        left: 40%; /* position the element slightly to the right horizontally */
        margin: auto;
        transform: translate(-5%, -50%);
        background-color: white;
        border: 2px solid #ccc;
        border-radius: 15px;
        padding-top: 50px;
        padding-right: 10px;
        width: 25%;
        opacity: 0.9
    
        /* display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)) */
        /* other styles */
      }
      
      .sign-in-form {
        margin: auto;
        justify-content: center;
        align-items: center;
      
      }
  
      .isOpen {
        width: 40%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.87);
        border-radius: 15px;
        padding: 30px;
        position: absolute;
        top: 10%;
        left: 25%;
      
        
      }
        .isClosed {
        background-color: rgba(255, 255, 255, 0.87);
        display: center;
        align-items: center;
        justify-content: center;
      }
      form {
        max-width: 270px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .inputCreate {
        padding: 20px 125px;
        border-radius: 15px;
        align-self: center;
        color: white;
        font-size: 16px;
        cursor: pointer;
        background-color: rgb(142, 150, 255);
      }
      .inputCreate:hover {
        padding: 20px 125px;
        border-radius: 15px;
        align-self: center;
        color: white;
        font-size: 16px;
        cursor: pointer;
        background-color: rgb(166, 166, 238);
      
      }
      
      .button-container {
        
        text-align: center; /* center the button horizontally */
      }
      
      input {
        width: 100%;
        border-radius: 5px;
        padding: 20px
      }
  

    
  .margin-input{
      margin-right: 10px
  }
  .h2-loop {
    color: white;
    font-size: 3em;
    font-family: 'Playfair Display', serif;
    position: absolute;
    left: 30%;
    top: 35%;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    background: none;
  }
  
  .button-margin {
    margin-right: 95px
  }
  .button-sign-in {
    width: 35%
  }
    
    .user {
        margin-left: 199px
    }