.home-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 8px;
  overflow-y: auto;
  /* margin-top: 20px; */
  
}

.card-profile {
  background-color: white;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 20vw;
  min-height: 400px;
}


.card-profile-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 8px;
  color: white;
}

.card-profile-content {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}
.card-profile-content h2,
.card-profile-content p {
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.card-actions {
  display: flex;
  justify-content: space-between;
}

.match-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4caf50;
  color: white; 
  padding: 20px;
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  z-index: 9999;
}

.filter-section {

  margin-top: 15px;
  

}