.card-body {
  max-height: 65vh;
  overflow-y: auto;

}

.message-card {
  max-width: 35%;
}

.my-message {
  display: flex;
  justify-content: flex-end;
}

.my-message .message-card {
  background-color: rgb(144, 199, 218);
}

.other-message {
  display: flex;
  justify-content: flex-start;
  margin-left: 100px;
}

.other-message .message-card {
  background-color: white;
}

.message-text {
  color: black;
}

.avatar {
  align-self: flex-end;
}

