.title {
  font-style: italic;
  animation: easeOut 3s forwards;
  padding-bottom: 425px !important;
}

@keyframes easeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.form-container {
  position: relative;
  min-height: 400px;
}

.transition-content {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 3s;
}

.transition-content.hidden {
  opacity: 0;
}
.content {
    padding-bottom: 100px;
}