.title {
  font-style: italic;
  animation: easeOut 3s forwards;
  padding-bottom: 425px !important;
}

@keyframes easeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.form-container {
  position: relative;
  min-height: 400px;
}

.transition-content {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 3s;
}

.transition-content.hidden {
  opacity: 0;
}

.registration-container {
  width: 25%;
  position: absolute;
  top: 110px;
  display: fixed;
  justify-content: center;
  align-items: center;
  height: 50vh;
  color: rgba(0, 0, 0, 0.788);
  margin-left: 100px;
  /* margin-top: 100px; */
}


.registration-content {
  max-width: 500px;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-wrapper {
  width: 100%; 
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 20px;
}

.input-wrapper label {
  color: grey;
  font-size: 0.8em;
}

.input-wrapper input {
  border: none;
  border-bottom: 1px solid grey;
  padding: 5px;
}

.input-wrapper input:focus {
  outline: none;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.inputBack {
  padding: 3px 5px;
  position: relative;
  border-radius: 3px;
  border: 1px white;
  left: 229px;
  bottom: 19px;
  color: rgb(255, 255, 255);
  background-color: rgb(108, 118, 255);
}

.inputCreate {
  width: 100%;
  padding: 2px;
  border: 1px white;
  border-radius: 3px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  font-size: 20px;
  background-color: rgb(107, 117, 255);
}

.inputCreate:hover {
  background-color: rgb(166, 166, 238);
}

.input-gender {

}

.dating-logo {
  height: 10vh;
}